{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Restless{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
  {% include 'restless/parts/header.html' %}
  <main class="wrapper">
    {% block content %}
    {% endblock %}
  </main>

  <script type="text/javascript">
    /**
     * As presented by Steve Sanderson at NDC Porto 2023
     * https://youtu.be/fIYYC_p_uU8?si=X8MAalzukfdbx6Kx&t=1744
     * */
    document.body.addEventListener('click', event => {
      const linkElem = event.target.closest('a');
      if (linkElem) {
        event.preventDefault();
        history.pushState(null, '', linkElem.href);
        performEnhancedNav(linkElem.href);
      }
    });

    async function performEnhancedNav(url) {
      const response = await fetch(url);
      const html = await response.text();
      const parsedHtml = new DOMParser().parseFromString(html, 'text/html');
      document.body.innerHTML = parsedHtml.body.innerHTML;
    }
  </script>
</body>
</html>
